div {
  padding: 40px;
  margin: 40px;
  border-radius: 20px;
}

.dropdown {
  padding: 2px;
  margin: 0px;
}

.btn-group {
  padding: 2px;
}

p {
  padding: 5px;
}

section {
  align-items: center;
  vertical-align: middle;
  display: table-cell;
  vertical-align: middle;
}

body {
  background: url(/background.png)no-repeat;
  background-size: cover;
}

#submit {
  padding: 40px;
}

@media (max-width: 600px) {
  div {
    margin: 20px;
  }
}

@media (max-width: 992px) {
  body {
    background-size: initial;
  }
}

@media (max-width: 500px) {
  section {
    flex-direction: column;
  }
}

section {
  padding: 5px;
  margin: opx;
}

.btn.btn-primary.dropdown-toggle {
  margin: 5px;
  min-width: 7em;
}

@media (max-width: 600px) {
  .btn.btn-primary.dropdown-toggle {
    margin-top: 2px;
  }
}

